<footer id="footer" class="sectionArea2">
    <div class="container2">
        <div class="sutun2">
            <div class="footerItem">
                <h3>HAKKIMIZDA</h3>
                <a href="/"><img src="\img\logo2.png" alt="logo"></a>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident maxime consequuntur sunt,
                    cupiditate
                    corrupti quod. Ab exercitationem numquam eaque ipsam, inventore repellendus impedit, fugiat
                    repudiandae
                    quisquam architecto in, dicta amet.</p>
            </div>
        </div>
        <div class="sutun2">
            <div class="footerItem">
                <h3>HİZMETLER</h3>
                <ul class="footerLinks">
                    <li><a href="/toplamaHiz"><b>Toplama</b></a></li>
                    <li><a href="/ayirmaHiz"><b>Ayırma</b></a></li>
                    <li><a href="/balyalamaHiz"><b>Balyalama</b></a></li>
                </ul>
                <br><br>
                <h3>Destek Olun</h3>
                <ul class="footerLinks">
                    <li><a href="/destekOlun"><b>İstek Formu</b></a></li>
                    <li><a href="/ssSorular"><b>Sık Sorulan Sorular</b></a></li>
                </ul>
            </div>
        </div>
        <div class="sutun2">
            <div class="footerItem">
                <h3>BİZE ULAŞIN</h3>
                <address><b>Çiçek Mah. Yıldırım Sk.
                    No:17</b>
                        <p><b>Eyüpsultan/İSTANBUL</b></p>
                </address>
                <br><br>
                <ul class="sMedyaLink">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <br><br>
                <h2><b><i class='bx bx-headphone'>  <b>0(212)6123456</b></b></i></h2>
            </div>
        </div>
    </div>
</footer>

<script>
    // JavaScript kodunu buraya ekleyin
    document.getElementById('iletisim-link').addEventListener('click', function() {
        // İletişim linkine tıklandığında footer kısmına git
        document.getElementById('footer').scrollIntoView({ behavior: 'smooth' });
    });
</script>

</body>
</html>