<div class="sutun3">
    <div class="item">
        <div class="zoom">
            <a href="/toplamaHiz"><img src="\img\toplama.jpg" alt="toplamaHizmet"></a>
        </div>
        <div class="itemText">
            <h3>Toplama Hizmetleri</h3>
            <hr> <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sed doloribus,
                perspiciatis quis praesentium quisquam...</p><br>
            <a href="/toplamaHiz" class="btnAyrinti">Detaylar</a>
        </div>
    </div>
</div>
<div class="sutun3">
    <div class="item">
        <div class="zoom">
            <a href="/ayirmaHiz"><img src="\img\ayirma.jpg" alt="ayirmaHizmet"></a>
        </div>
        <div class="itemText">
            <h3>Ayırma Hizmetleri</h3>
            <hr> <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sed doloribus,
                perspiciatis quis praesentium quisquam...</p><br>
            <a href="/ayirmaHiz" class="btnAyrinti">Detaylar</a>
        </div>
    </div>
</div>
<div class="sutun3">
    <div class="item">
        <div class="zoom">
            <a href="/balyalamaHiz"><img src="\img\balyalama.jpg" alt="balyalamaHizmet"></a>
        </div>
        <div class="itemText">
            <h3>Balyalama Hizmetleri</h3>
            <hr> <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sed doloribus,
                perspiciatis quis praesentium quisquam...</p><br>
            <a href="/balyalamaHiz" class="btnAyrinti">Detaylar</a>
        </div>
    </div>
</div>
