<aside class="sidebar">
    <hr><br>
    <h2>HİZMETLER</h2>
    <hr><br>
    <ul>
        <li><a href="/toplamaHiz">Toplama Hizmetleri</a></li>
        <br>
        <li><a href="/ayirmaHiz">Ayırma Hizmetleri</a></li>
        <br>
        <li><a href="/balyalamaHiz">Balyalama Hizmetleri</a></li>
    </ul>
</aside>