<header>
        <nav>
        <a href="/"><img src="\img\logo2.png" alt="logo" width="80px"></a>
        <div class="menu">
            <ul>
                <li><a href="/"><b>ANASAYFA</b></a></li>
                <li><a href="/hizmetler"><b>HİZMETLER</b></a>
                    <ul>
                        <li><a href="/toplamaHiz"><b>TOPLAMA</b></a></li>
                        <li><a href="/ayirmaHiz"><b>AYIRMA</b></a></li>
                        <li><a href="/balyalamaHiz"><b>BALYALAMA</b></a></li>
                    </ul>
                </li>
                <li><a href="/destekOlun"><b>DESTEK OLUN</b></a>
                    <ul>
                        <li><a href="/destekOlun"><b>İSTEK FORMU</b></a></li>
                        <li><a href="/ssSorular"><b>SIK SORULAN SORULAR</b></a></li>
                    </ul>
                </li>
                <li><a href="#footer" id="iletisim-link"><b>İLETİŞİM</b></a></li>
            </ul>
        </div>
    </nav>
    </header>