<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hizmetler-Balyalama Hizmetleri</title>

    <link rel="shortcut icon" type="image/png" href="\img\logo2.png"/>

    
    <link rel="stylesheet" type="text/css" href="\css\hizmetler.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">

</head>
<body>

    
    <!--menu-->
   <%- include ("partials/_menu")%>

    <div class="container-wrapper">
        <!--Hizmetler sidebar-->>
        <%- include ("partials/_hizmetlerSidebar")%>


        <section id="balyalamaHiz" class="sectionArea">
            <div class="balyalamaGovde">
                <div class="container">
                    <div class="bolum2">
                        <div class="balyalamaText">
                            <h1>Balyalama Hizmetleri</h1><br>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde iure aperiam id maiores
                                laboriosam alias
                                iusto iste, at voluptatem possimus sequi, nemo, cumque recusandae necessitatibus
                                dignissimos.
                            </p><br><br><br><br><br><br><br>
                            <hr>
                        </div>
                    </div>

                    <div class="bolum2">
                        <div class="balyalamaResim">
                            <div class="tResim">
                                <img src="\img\balyalama.jpg" alt="balyalamaHizmet" width="450px">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="balyalamaAciklama">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam vitae dolores quasi. Amet vel
                        quos voluptates, temporibus neque totam enim omnis cumque aut ratione deleniti nesciunt tempora
                        explicabo dolore quis.</p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, esse. Inventore delectus
                        voluptate velit, enim, consequuntur nesciunt sunt numquam atque repellendus, laboriosam dolore
                        ex repellat nihil deserunt autem accusamus provident.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse impedit deserunt repellendus,
                        beatae ullam ut porro aut obcaecati incidunt totam quaerat omnis reiciendis deleniti
                        perspiciatis quas iste dicta sint reprehenderit?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quod rerum unde aut incidunt sint
                        quia impedit officia numquam reprehenderit. Quisquam unde ullam ipsam earum officiis, molestiae
                        velit aliquam dolorem!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quod rerum unde aut incidunt sint
                        quia impedit officia numquam reprehenderit. Quisquam unde ullam ipsam earum officiis, molestiae
                        velit aliquam dolorem!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quod rerum unde aut incidunt sint
                        quia impedit officia numquam reprehenderit. Quisquam unde ullam ipsam earum officiis, molestiae
                        velit aliquam dolorem!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem modi accusantium distinctio
                        consequuntur ut molestias officiis fugiat, laborum laudantium quas, dignissimos consectetur,
                        reprehenderit sed repudiandae voluptas sunt beatae quo velit!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt cum quasi voluptatibus laborum
                        vitae eum iusto repellat magnam velit? Quod soluta corporis pariatur recusandae expedita quae
                        voluptatibus quis molestiae repellat?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quod rerum unde aut incidunt sint
                        quia impedit officia numquam reprehenderit. Quisquam unde ullam ipsam earum officiis, molestiae
                        velit aliquam dolorem!</p>
                </div>
            </div>
        </section>
    </div>

    
    <!--Footer-->
    <%- include ("partials/_footer")%>