* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

nav {
    padding: 15px 7%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(221, 255, 187);
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

nav .menu {
    float: right;
}

nav .menu ul {
    list-style: none;
}

header .menu ul li {
    position: relative;
    float: left;
}

nav .menu ul li a {
    font-size: 20px;
    padding: 27px 17px;
    color: rgb(144, 182, 119);
    display: block;
    text-decoration: none;
    transition: all .5s ease;
    letter-spacing: 1px;
}

nav .menu ul li a:hover {
    color: rgb(102, 122, 78);
}

nav .menu ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: rgb(221, 255, 187);
    display: none;
}

nav .menu ul li ul li {
    width: 100%;
    border-top: 1px solid rgb(191, 221, 162);
}

nav .menu ul li:hover>ul {
    display: initial;
}

.footerItem ul {
    list-style-type: none;
}

.footerItem ul {
    list-style-type: none;
}

.footerLinks ul {
    list-style-type: none;
}

.sectionArea2 .container2 {
    justify-content: space-between;
    background: rgb(168, 223, 142);
    padding: 40px 40px;
    display: flex;
    text-align: center;
}

.sectionArea2 .sutun2 {
    flex-grow: 1;
    width: 33.33%;
    background: rgb(168, 223, 142);
}

.footerItem {
    padding: 20px;
    background: rgb(168, 223, 142);
}

.footerItem img {
    width: 80px;
    background: rgb(168, 223, 142);
}

footer h3 {
    color: rgb(32, 109, 66);
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

footer address{
    font-size: 16px;
    color: rgb(102, 122, 78);
}

footer h4 a{
    font-size: 18px;
    color: rgb(102, 122, 78);
    text-decoration: none;
}

footer h4 a:hover{
    color: rgb(146, 170, 116);
}

footer h2{
    font-size: 25px;
    color: rgb(32, 109, 66);
}

footer .fa {
    font-size: 30px;
    color: rgb(102, 122, 78);
    line-height: 50px;
    transition: .3s ease;
}

footer .fa:hover {
    color: rgb(146, 170, 116);
}

footer p {
    color: rgb(102, 122, 78);
    text-shadow: 0 0 5px rgb(212, 255, 171);
    line-height: 20px;
}

.footerLinks a {
    text-decoration: none;
    color: rgb(102, 122, 78);
    letter-spacing: 2px;
    transition: .3s ease;
}

.footerLinks a:hover {
    color: rgb(146, 170, 116);
}

.sMedyaLink li {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.sorular h1{
    letter-spacing: 3px;
    text-shadow: 0 0 1px rgb(113, 138, 97);
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(113, 138, 97);
}

#accordion{
    margin: 100px auto;
    width: 600px;
}

.sorular{
    background: rgb(200, 250, 166);
    padding: 70px 35px 55px;
}

#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: rgb(163, 216, 128);
    padding: 10px;
    border-radius: 7px;
}

#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(25, 41, 5);
}

#accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: rgb(25, 41, 5);
}

#accordion label + input[type="radio"]{
    display: none;
}

#accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#accordion label + input[type="radio"]:checked + .content{
    max-height: 400px;
}
